* {
	font-family: calibri;
}

p {
	font-family: calibri;
}

form {
	margin-left: 10px;
}

.textarea_petite {
	height: 100px;
	width: 800px;
	margin-top: 5px;
	margin-left: 10px;
}

#textarea_grande {
	clear: both;
	height: 300px;
	width: 100%;
}

.champ {
	margin-top: 5px;
	margin-left: 10px;
}

fieldset {
	float: left;
	border: 1px teal dashed;
}

legend {
	font-size: larger;
	color: teal;
}

#carac_generales {
	width: 20%;
	margin-left: 10px;
	margin-top: 5px;
}

#descr_precise {
	width: 50%;
	margin-left: 10px;
	margin-top: 5px;
}

#contenu {
	clear: both;
	width: 80%;
	padding: 10px;
}

#buttons {
	margin-top: 10px;
	margin-left: 10px;
}

#buttons input {
	clear: both;
}

.button {
	clear: both;
	float: left;
	width: 80px;
	margin: 5px;
}

ul li {
	font-family: calibri;
}