#titre {
	margin: 0;
	padding: 10px;
	border: none;
	font-size: 3em;
	font-variant: none;
	font-weight: normal;
	font-family: "Century Gothic", Calibri;
	text-align: center;
}

.rangement {
	width: 19%; /* 19 %*/
	height: auto; /* 80% */
	margin: 1.4%;
	margin-top: 0;
	padding: 1%;
	overflow: hidden;
	float: left;
	background-color: rgba(0,127,127, 0.3);
	
	border: 1px dashed #000;
	border-radius: 10px;

	font-family: calibri;
}

#personnages {
	margin-left: 3.5%;
}


h4 {
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: larger;
	border: none;
}

h5 {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-variant: small-caps;
}

ul {
	list-style-type: circle;
	padding-left: 5%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	font-weight: bolder;
}