h1,h2{
	color:rgb(220,0,220); /* violet */
}

.bouton_submit{
    border:1px dashed black;
    padding:10px;
    padding-bottom:0;
    margin:10px;
    width:100px;
    background-color:#FFF;
    font-variant:small-caps;
    font-family:'Hopefulgiraffe Demo';
    font-size:40px;
    color:rgb(220,0,220);
    display:inline-block;
        -moz-transition:all 1s;
}

.bouton_submit:hover{
	background-color:rgba(220,0,220, 0.25);
	color:black;
}

.list_div ul{
	height:auto;
	width:202px;
	margin:0;
	padding:0;
}

p{
	margin:5px 0;
	padding:0;
}

.ajout2_menu{
	width:180px;
	padding:10px;
}

.integ_recette ul{
	height:auto;
	max-height:160px;
	overflow:auto;
}

