h1,h2{
	color:rgb(220,0,220); /* violet */
}

.bouton_submit{
    border:1px dashed black;
    padding:10px;
    padding-bottom:0;
    margin:10px;
    width:100px;
    background-color:#FFF;
    font-variant:small-caps;
    font-family:'Hopefulgiraffe Demo';
    font-size:40px;
    color:rgb(220,0,220);
    display:inline-block;
        -moz-transition:all 1s;
}

.bouton_submit:hover{
	background-color:rgba(220,0,220, 0.25);
	color:black;
}

.list_div {
	width:600px;
}

p{
	margin:5px 0;
	padding:0;
}

.list_div ul{
	margin:20px;
	padding:0;
}

.list_div ol{
	margin:20px;
	padding:0;
}

.list_div li{
	margin:10px;
}

.list_div input{
	margin:5px;
	margin-bottom:0;
	padding:10px;
	display:inline-block;
	width:570px;
}

.list_div input:hover, select:hover{
	border:1px solid  rgb(220,0,220);
}

.list_div ol input{
	width:540px;
}

.list_div select{
	width:590px;
	margin:5px;
}

.list_div option{
	padding:10px;
}

.ajout2_list_groupe ul{
	width:575px;
	height:auto;
	max-height:160px;
	overflow:hidden;
	margin:10px;
	padding:0;
}

.ajout2_list_groupe ul li{
	display:inline-block;
	width:265px;
	margin:5px;
	padding:0;
}

.ajout2_list_groupe ul li input{
	display:inline-block;
	width:auto;
}




