/* AJOUTER INSERTION POLICES */

html{
    height:100%;
}

body
{
    margin:0;
    padding:0;
    font-family:Calibri;
    height:100%;
	text-align:center;
}

#form{
    border:1px solid black;
    padding:10px;
    margin:10px;
    display:inline-block;
	background-color:white;
}

a{
    color:inherit;
    text-decoration:none;
}

h1{
    margin:10px;
    margin-bottom:-.25em;
    padding:0;
    font-family:'Hopefulgiraffe Demo';
    font-weight:normal;
    font-size:100px;
    color:rgb(0,235,150);
	text-align:center;
}

h2{
    margin:0;
    padding:0;
    font-variant:small-caps;
    font-weight:normal;
    font-family:'Hopefulgiraffe Demo';
    font-size:40px;
    margin-bottom:-.30em;
}

nav{
    text-align:center;
    border-bottom:1px solid black;
}

span{
	font-weight:bolder;
	font-variant:small-caps;
}

.nav_box{
    display:inline-block;
    font-variant:small-caps;
    font-weight:bold;
    margin:0.75em 1em;
}

.nav_box a{
    -moz-transition:all .5s;
}

#accueil:hover {color:rgb(220,0,0)} /*rouge*/
#menu:hover {color:rgb(50,200,50)} /*vert*/
#recette:hover{color:rgb(255, 150, 0); /*orange*/}
#ingredient:hover {color:rgb(0,150,255)} /*bleu roi*/
#ajout:hover {color:rgb(220,0,220)} /*violet*/
#recherche:hover {color:rgb(0, 235, 150)} /*vert-bleu*/
#vue_db:hover {color:rgb(150, 150, 150)} /*orange*/

/* -------------------------------------------------- */

#bloc_gauche{
    width:auto;
    float:left;
    max-width:30%;
}

.gauche{
    padding:15px;
    border-bottom:1px solid black;
    text-align:justify;
    height:auto;
}

#recettes_liees{
    border:none;
}

#recettes_liees ul{
    height:450px;
    overflow:auto;
    margin-bottom:0;
}

#bloc_gauche li{
    margin: 10px;
    margin-left:0;
}

/* -------------------------------------------------- */

#bloc_droite{
    margin-left:30%;
    border-left:1px solid black;
    text-align:center;
    padding:10px;
    height:92%;
}

#bloc_droite *{
    margin:10px;
}

#bloc_droite h1{
    font-family:'Always In My Heart';
    margin:10px;
    padding:0;
    text-align:center;
    font-weight:normal;
}

#bloc_droite .bloc_recette{
    margin:0;
    padding:0;
    width:47%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    margin:5px;
    border:1px dashed black;
    height:88%;
}

#bloc_droite #short_info{
    font-size:smaller;
    text-align:center;
}

#bloc_droite p{
    margin:0;
    padding:0;
}

#bloc_droite .liste{
    height:90%;
    overflow:auto;
}

.list_div{
    border:1px dashed black;
    padding:10px;
    float:left;
    margin:10px;
	text-align:left;
}

.list_div ul{
    list-style:none;
    text-align:left;
    overflow:auto;
    width:160px;
    margin-left:20px;
    padding:0px;
	height:300px;
}

.list_div ul li{
	margin: 10px 0;
}


